apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base

commonLabels:
  environment: dev

patches:
  - path: database-patch.yaml
  - path: deployment-patch.yaml
