apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../base

commonLabels:
  environment: production

patches:
  - path: database-patch.yaml
  - path: deployment-patch.yaml
